* {
     box-sizing: border-box;
}
.main {
     font-family: 'Cinzel', serif;
}

.conten-2, .conten-3 {
     padding-bottom: 50px;
     border: 1px solid;
     border-color: rgb(201, 177, 177);
     border-radius: 5px;
     padding: 10px;
}

.video-btn {
     margin: 20px 15px;
     background-color: rgb(171, 233, 109);
}

.video-btn:hover {
     background-color: chocolate;
     color: aliceblue;
}

.conten-3 {
     right: -30px;
}

.conten-3-btn {
     background-color: cornflowerblue;
}

.conten-3 img {
     padding-left: 50px;
     padding-bottom: 20px;
     padding-right: 20px;
}

.conten-3 h6 {
     padding-top: 120px;
}
