* {
     box-sizing: border-box;
}
.main {
     font-family: 'Cinzel', serif;
}

.path {
     margin-bottom: 50px;
     padding-left: 10px;
     border: 1px solid rgb(201, 177, 177);
     border-radius: 5px;
}

.path a, .card a {
     text-decoration: none;
     color: white;
}

.title .content-1 {
     padding-bottom: 50px;
     border: 1px solid rgb(201, 177, 177);
     border-radius: 5px;
     padding: 10px;
}

.content-1 p {
     font-weight: bold;
} 
.content-1 span {
     font-weight: normal;
}

h5, h4 {
     font-weight: bold;
}

h5 {
     padding-bottom: 20px;
}

.content-1-btn {
     transition: all .3s ease;
}

.button {
     padding-right: 15px;
}

.content-1-btn:hover {
     transform: scale(1.05);
     font-weight: bold;
}

.content-2 {
     margin-top: 50px;
     margin-bottom: 50px;
     padding: 10px;
     border: 1px solid;
     border-color: rgb(201, 177, 177);
     border-radius: 5px;
}

.card {
     background-color: rgb(26, 25, 25);
}

.card h4 {
     padding-bottom: 20px;
}

.comment {
     padding: 50px;
}

.test {

}